<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Review Categories</title>
</head>

<body>
    <div class="container">
        <main class="center">

            <h1>Review Categories</h1>

            <section id="intro">
                <p>
                Below is a list of categories that our reviews can be associated with.
                </p>
            </section>
            
            <section th:each ="category: ${categories}">
                <ul>
                    <li>
                        <a th:href="@{/category(id=${category.id})}" th:text="${category.name}"></a>
                    </li>
                </ul>
            </section>
        </main>
        
        <div id="navContainer">
            <div class="menuContainer">
                <div id="menuBarsContainer" onClick="toggleMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
    
            <nav id="mainNav">
                <div>
                    <a href="./show-reviews">Reviews</a>
                    <a href="/show-categories">Categories</a>
                    <a href="/show-tags">Tags</a>
                </div>
            </nav>
        </div>
        
        <footer class="center">
            <p>&copy; 2018 Anthony J. DeMeglio </p>
        </footer>

    </div> <!--Close Container-->
</body>
</html>