<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Category</title>
</head>

<body>
    <main class="center">

        <section>
            <div th:each="category: ${categories}">
                <h1 th:text="'Category: ' + ${category.name}"></h1>
            <p th:text="${category.description}"></p>
            </div>
            
            <h3>Associated Reviews</h3>

            <div th:each="review : ${categories.reviews}">
                <ul>
                    <li>
                        <a th:href="@{review(id=${review.id})}" th:text="${review.title}"></a>
                    </li>
                </ul>
            </div>
        </section>

    </main>

    <div id="navContainer">
            <div class="menuContainer">
                <div id="menuBarsContainer" onClick="toggleMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        
            <nav id="mainNav">
                <div>
                    <a href="./show-reviews">Reviews</a>
                    <a href="/show-categories">Categories</a>
                    <a href="/show-tags">Tags</a>
                </div>
            </nav>
        </div>
                
        <footer class="center">
            <p>&copy; 2018 Anthony J. DeMeglio </p>
        </footer>

</body>
</html>