<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/style.css}" />

    <title>Kit Car Review</title>
</head>

<body>
    <div class="container">
        <main>

            <h1>U.S. Kit Car Company Review</h1>

            <section th:each="review: ${reviews}">
                <h2 th:text="${review.title}"></h2>
                <p th:text="${review.content}"></p>
                <a th:href="@{${review.CompanyUrl}}"><span th:text="${review.CompanyUrl}" /></a>
                <img class="center" th:src="@{${review.ImageUrl}}" />
                <p><strong>Category:</strong>
                    <a th:href="@{/category(id=${review.category.id})}" th:text="' '+ ${review.category.name}"></a>
                </p>
                <div id="tags">
                    <img src="./images/tagIcon.png"/>
                    <p>Tags: <span th:each="tag: ${review.tags}" th:text="' ' + ${tag.name}"></span> </p>

                    <!-- Form to add newly created tags to a review -->
                    <form method="POST" action="/new-tag">
                        <input type="text" name="tagName" placeholder="Enter New Tag" />
                        <input type="hidden" name="reviewId" th:value="${review.id}" />
                        <input type="submit" value="Create &amp; Add Tag" />
                    </form>

                    <!-- Form to remove a tag from the review -->
                    <form method="POST" action="/remove-tag-from-review">
                        <input type="text" name="tagName" placeholder="Enter Tag Name" />
                        <input type="hidden" name="reviewId" th:value="${review.id}" />
                        <input type="submit" value="Remove Tag" />
                    </form>

                </div>
            </section>

        </main>
        
        <div id="navContainer">
            <div class="menuContainer">
                <div id="menuBarsContainer" onClick="toggleMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        
            <nav id="mainNav">
                <div>
                    <a href="./show-reviews">Reviews</a>
                    <a href="/show-categories">Categories</a>
                    <a href="/show-tags">Tags</a>
                </div>
            </nav>
        </div>
                
        <footer class="center">
                <small>&copy; 2018 Anthony J. DeMeglio </small>
        </footer>

    </div> <!--Close Container-->
    <script src="../script.js" th:href="@{/script.js}"></script>
</body>
</html>