<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Kit Car Review</title>
</head>

<body>
    <main class="center">

        <h1>U.S. Kit Car Company Review</h1>

        <section th:each="review: ${reviews}">
            <h2 th:text="${review.title}"></h2>
            <p th:text="${review.content}"></p>
            <a th:href="@{${review.CompanyUrl}}"><span th:text="${review.CompanyUrl}" /></a>
            <img class="center" th:src="@{${review.ImageUrl}}" />
            <p><strong>Category:</strong>
                <a th:href="@{/category(id=${review.category.id})}" th:text="' '+ ${review.category.name}"></a>
            </p>
            <div id="tags">
                <img src="./images/tagIcon.png"/>
                <p>Tags: <span th:each="tag: ${review.tags}" th:text="' ' + ${tag.name}"></span> </p>
            </div>
        </section>

    </main>
    
    <div id="navContainer">
        <div class="menuContainer">
            <div id="menuBarsContainer" onClick="toggleMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    
        <nav id="mainNav">
            <div>
                <a href="./show-reviews">Reviews</a>
                <a href="/show-categories">Categories</a>
                <a href="/show-tags">Tags</a>
            </div>
        </nav>
    </div>
            
    <footer class="center">
        <p>&copy; 2018 Anthony J. DeMeglio </p>
    </footer>

</body>
</html>