<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>U.S. Kit Car Company Reviews</title>
</head>

<body>
   <div class="center">

        <h1>U.S. Kit Car Company Reviews</h1>

        <section id="intro">
            <p>
                I've been tooling around with cars since before I could drive. My brother and I used to try to take apart engines 
                and help our dad with car repairs. When we finally got our licenses, we would do all repairs to our cars ourselves and of course 
                modify them to upgrade their perfomance. It was something to do with our friends and it saved us a ton of money in the 
                process.
            </p>

            <p>
                As I got older, I had less time time to work on cars but still enjoyed cars and had gotten into <a href="https://en.wikipedia.org/wiki/Autocross" target="_blank" >autocrossing</a>. 
                Sometime during my senior year of college one of my magazines introduced me to a small company in <em>Wareham, MA</em> called 
                <Strong>Factory Five Racing</Strong>. They are a component car manufacturer (AKA Kit Car) that make several different
                model cars that are replicas of older cars or original designs based around the concept of using a single donor car for main 
                components to be used in a specially designed and built frame along with other custom components. You get the parts and you get to put it all together.
            </p>

            <p>
                Not all Kit Car companies are the same. While, I confess I'm partial to Factory Five Racing, I recently purchased an 818C to build
                and I can't wait to start construction!
            </p>

            <h2>Below are some reviews of Kit Car Companies based in the United States.</h2>
        </section>
        
        <section th:each ="review: ${reviews}">
            <ul>
                <li>
                    <a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
                </li>
            </ul>
        </section>
        <footer class="center">
            <p>&copy; 2018 Anthony J. DeMeglio </p>
        </footer>
    </div>

</body>
</html>