<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Tag</title>
</head>

<body>
    <main class="center">
        
        <h1>Tag</h1>

        <section th:each="tag: ${tags}">
            <h2 th:text="${tag.name}"></h2>
        </section>

        <section th:each="review: ${tags.reviews}">
            <h2>Associated Reviews</h2>
            <a th:href=@{/review(id=$review.id})} th:text:="${review.name}"></a>
        </section>

    </main>

    <div id="navContainer">
            <div class="menuContainer">
                <div id="menuBarsContainer" onClick="toggleMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        
            <nav id="mainNav">
                <div>
                    <a href="./show-reviews">Reviews</a>
                    <a href="/show-categories">Categories</a>
                    <a href="/show-tags">Tags</a>
                </div>
            </nav>
        </div>
                
        <footer class="center">
            <p>&copy; 2018 Anthony J. DeMeglio </p>
        </footer>

</body>
</html>