<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Review Tags</title>
</head>

<body>
   <div class="center">

        <h1>Review Tags</h1>

        <section id="intro">
            <p>
               Below is a list of tags that our reviews can be associated with.
            </p>
        </section>
        
        <section th:each ="tag: ${tags}">
            <ul>
                <li>
                    <a th:href="@{/tag(id=${tag.id})}" th:text="${tag.name}"></a>
                </li>
            </ul>
        </section>
        <footer class="center">
            <p class="center"><a href="http://localhost:8080/show-reviews">Back to Reviews</a></p>
            <p>&copy; 2018 Anthony J. DeMeglio </p>
        </footer>
    </div>

</body>
</html>