:root {
    /* Color Variables */
    --main-color1: rgb(255,255,255);
    --main-color2: rgb(35,35,35);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    line-height: 1.618em;
    
    color: var(--main-color2);
}

/* ELEMENTS */
html {
    background: var(--main-color1);
    font-size: 1.5vw;
}

h1,h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
}

img {
    display: block;
    padding: 10px;
    padding-bottom: 3em;
    max-width: 100%;
    border: 1px solid black;
    
}

main {
    margin-top: 3em;
}

footer {
    text-align: center;
}

/* CONTAINERS */
.container {
    width: 75%;
    margin: auto;
}

/* GENERIC CLASSES */

.center {
    margin: 10px auto;
}



/* NAV MENU */
#navContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;

    top: 0;
    right:0;

    width: 100%;
    height: 3em;
    margin: 0 auto;
    background: var(--main-color2);
}

.menuContainer {
    cursor: pointer;
    padding-right: 1em;
    text-align: right;
    
    height: 2em;
}

.menuBarsContainer {
    display: inline-block;
    padding-right: 5px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s; 
}

#mainNav {
    height: 0;
    overflow: hidden;
    width: 100%;
    border: .5px solid var(--main-color2);
    box-shadow: 0 0 1px var(--main-color2);
    padding-top: 2px;
    position: absolute;
    top: 2.8em;
    transition: .5s;
}

#mainNav > div{
    width: 100%;
    background: var(--main-color1);
    box-shadow: 0 0 1px var(--main-color2);

}

#mainNav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    background: var(--main-color1);
    border: .5px solid var(--main-color2);
    box-shadow: 0 0 1px var(--main-color2) inset;
    padding: 1em;
}

#mainNav a:visited {
    text-decoration: none;
}

/* OPEN MENU FUNCTIONALITY */
.show .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.show .bar2 {opacity: 0;}

.show .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

.show #main-nav > div{
    height:20em;
}

/* SHOW-REVIEWS PAGE */
#coverFigure {
    display: flex;
    margin: auto;
    justify-content: center;
}

#coverFigure img {
    border: none;
    padding: 2px;
}

#coverFigure figcaption {
    text-align: center;
    position: relative;
    top: -25px;
}

#gridContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item-2 {
    position: relative;
    display: flex;
    top: -2.25em;
    left:0px;
    justify-content: center;
}

.poloroidText {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.linkImage {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

.linkImage:hover {
    box-shadow: 0px 0px 12px 1px black;
}


/* REVIEW DETAIL PAGE */
#tagsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tagsTitle {
    display: flex;
    margin-right: .75em;
}
.icon-tags {
    padding-right: .5em;
}

#tagsTitle strong a {
    text-decoration: none;
}

#tagsTitle strong a:hover {
    text-decoration: underline;
}

#tagsLine p span a {
    border: 1px solid black;
    padding: 1px 5px;
    margin: 2px;
    display: inline-flex;
    text-decoration: none;
}

#tagsLine p span a:visited,
#tagsTitle strong a:visited {
    text-decoration: none;
}

#tagsLine span a:hover {
    box-shadow: 0px 0px 5px 0.5px black inset;
}

#tagForms {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* MOBILE STYLES */
@media only screen and (max-width: 650px) {

    html {
        font-size: 3.1vw;
    }

    p {
        font-size: 3.5vw;
    }
    .container {
        width: 85%;
    }

    /* Mobile Nav Menu */
    #mainNav {
        font-size: 4vw;
        width: 100%;
        top: 2em;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 651px) and (max-width: 1024px) {
    /*body {
        background-color: var(--test-bg-color2);
    }*/
    html {
        font-size: 2.5vw;
    }

  
    .container {
        width: 85%;
    }

    /* Tablet Nav Menu */
    #navContainer {
      height: 2.5em;
    }

    .menuContainer {
        height: 2em;
        padding-right: .5em;
    }

    #mainNav {
        top: 2.25em;
        width: 25%;
        right: .5em;
      
    }
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1025px) {
   
    html {
        font-size: 1.5vw;
    }

  
    /* Desktop Nav Menu */
    #navContainer {
      height: 2.5em;
    }

    .menuContainer {
        height: 2em;
        padding-right: .5em;
    }

    #mainNav {
        top: 2.25em;
        width: 25%;
        right: .5em;
      
    }
}